<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @article.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @article.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>State:</strong>
  <%= @article.state %>
</p>

<% if @article.state == 'rejected'%>
  <p>
  <strong>The_reason_for_the_refusal_to_publish:</strong>
    <%= @main_comment %>
  </p>
<% if user_signed_in? %>
    <% if can? :update, @comment %>
        <h1>New comment</h1>
        <%= render 'comments/form' %>
        <%= link_to 'Back', comments_path %>
    <% end %>
<% end %>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', published_path %>
